---
import Layout from "../../layouts/Layout.astro";
import { questions } from "../../store/questions";
const { id } = Astro.params as { id: string };
const question = questions.get().find((q) => q.id === parseInt(id));
console.log(question);
---
<Layout title=`Question ${id}` >
    <main class="min-w-screen min-h-screen w-full">
        <div id="figure" class="fixed -top-[73%] -left-[52%] -z-10" transition:name="figure"></div>
        <h1>{question?.question}</h1>
    </main>
</Layout>
<style>
    #figure{
        background-color: #4242E0;
		-webkit-mask: url("/2D Figure.svg") no-repeat center;
		mask: url("/2D Figure.svg") no-repeat center;
		aspect-ratio: 1/1;
		mask-size: contain;
        width: 100%;
        min-width: 130vw;
        transform: rotate(155.32deg) scale(0.65);
    }
</style>
