---

---
<div id="ai-comments-container" class="fixed" transition:persist transition:name="ai-comments-container"></div>

<script>
    import { score } from "../store/score";

    let actualScore = score.get();

    score.subscribe(value => {
        if (value === -1) {
            console.log("¡Ups! Esa no era o se acabó el tiempo.");
        } else {
            console.log(actualScore, value);
            if(value > actualScore) {
                console.log("¡Bien jugado!");
            }
        }
    });
    document.addEventListener('astro:after-swap', () => {
        actualScore = score.get();
    })
</script>